input:focus{
    border: 1px;
    outline: 1px;
}
.form-group input{
    outline: 1px;
    font-size: .8rem;
    padding: .6rem;   
}

/* input:hover{
    border: 1px;
    outline: 1px;

} */

.password__icon__toggle{
    position: absolute;
    top: 30px;
    right: .6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 3s ease-in-out;
}